input.ng-touched.ng-invalid{
    border-color: maroon;
}
input.ng-valid{
    border-color: seagreen;
}
.green-icon{
    color:seagreen;
}
.red-icon{
    color:maroon;
}

#toast-container > div{
    opacity: 1;
}

table tr:hover{
    cursor: pointer;
}
